{{#if task.isDone}}
  <li class="task-list-item complete">
    <span class="pointer complete-icon" {{action (route-action "toggleDone") task.id }}>☑️</span>
    <span class="complete-task-text">{{task.title}}</span>
    <span class="pointer x hidden" {{action (route-action "removeTask") task.id }}>×</span>
  </li>
{{else}}
  <li class="task-list-item incomplete">
    <span class="pointer incomplete-icon" {{action (route-action "toggleDone") task.id }}>☐</span>
    <span class="incomplete-task-text" {{action (route-action "editTask") task.id this.elementId}}>{{task.title}}</span>
    <span class="pointer x hidden" {{action (route-action "removeTask") task.id }}>×</span>
  </li>
{{/if}}


{{yield}}
