@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

svg {
  height: 350px;
  width: 400px;
  margin: auto;
  display: block;
  margin-top: 40px;
}

.domain {
  opacity: 0.4;
}

li {
  list-style: none;
  align-items: start;
}

body {
  padding: 40px;
  background-color: #D0E8F7;
  font-family: 'Lato', sans-serif;
}

ul {
  margin-bottom: 0px;
  padding-left: 0px;
}

.pointer {
  cursor: pointer;
}

.form-group {
  margin-bottom: 0px;
  margin-left: 2px;
}

.incomplete-icon {
  font-size: 1.5rem;
  margin-right: 12px;
  margin-top: 3px;
}

.complete-icon {
  margin-top: 3px;
  margin-right: 12px;
}

.incomplete {

}

.complete {
  color: #A9A9A9;
  padding-top: 6px 12px 7px 2px;
  height: 29px;
}

.incomplete-task-text {
  padding: 6px 12px 7px 2px;
  margin-top: 1px;
}

.complete-task-text {
  text-decoration: line-through;
  padding: 0px 12px 6px 0px;
}

.complete-label {
  margin-bottom: 5px;
}

.task-list-item {
  display: -webkit-flex;
  -webkit-align-items: start;
  display: flex;
  line-height: 1;
  position: relative;
}

.task-list-item:hover .hidden {
  display: block;
}

.x {
  position: absolute;
  right: 5%;
  font-size: 1.8rem;
  font-weight: bold;
  color: #A9A9A9;
  line-height: 0.5;
}

.form-control {
  display: inline;
  width: auto;
  border: 0;
  padding: 0px;
  height: 29px;
  margin-bottom: 1px;
}

#add-task {
  padding: 0px 0px 0px 6px;
  margin: 5px 0px 0px 12px;
}

.flex {
  display: flex;
}

.plus {
  font-size: 1.8rem;
  font-weight: bold;
  color: #A9A9A9;
  line-height: 1.2;
}

.all-tasks {
  width: 400px;
  margin: auto;
  background-color: white;
  padding: 40px 20px 40px 60px;
  border-radius: 30px;
}

.hidden {
  display: none;
}

hr {
  margin-right: 40px;
}
