<SortedTasks @tasks={{this.model}} as |tasks doneCount|>
  <ul class="incomplete-tasks">
    {{#each tasks as |task|}}
      {{#if (not task.isDone)}}
        <TaskListItem @task={{task}} />
      {{/if}}
    {{/each}}
  </ul>


  {{#bs-form
    onSubmit=(action "postTask")
    as |form|}}
    {{#form.group}}
    <li class="flex">
      <span class="plus pointer" onclick="document.getElementById('add-task').focus()">+ </span>
      <input value={{title}} id="add-task" class="form-control" oninput={{action (mut title) value="target.value"}} placeholder="New item" autocomplete="off" type="text">
    </li>
    {{/form.group}}
  {{/bs-form}}

  <hr>
  <p class="complete complete-label pointer" {{action "hideCompleted"}}><span id="complete-label-icon">▼</span> {{doneCount}} completed {{if (not-eq doneCount 1) "items" "item"}}</p>
  <ul class="complete-tasks">
    {{#each tasks as |task|}}
      {{#if task.isDone}}
        <TaskListItem @task={{task}} />
      {{/if}}
    {{/each}}
  </ul>
</SortedTasks>

<Chart @tasks={{this.model}}/>
